html {
  font-size: 10px;
  font-family: "EB Garamond";
}

h1 {
    font-size: 30px;
    text-align: center;
}

p,
li {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

html {
    /*make background navy, text very faint blue*/
    background-color: #091326;
    color: #D3E2FF;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}